@page "/FavouriteRoutePage"
@using AutoMapper
@using MediatR
@inject IMediator Mediator
@inject IMapper Mapper

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="generated/css/common.css" />
    <link rel="stylesheet" type="text/css" href="generated/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="generated/css/MyRoadsFullsize.css" />
</head>

<body class="flex-column">
@if (_isLoaded)
{
    <nav class="my-roads-fullsize mainNavigationSection">
        <!-- Main navigation containing links to site sections -->
        <section class="routesSection">
            <!-- Displays the routes with details and images -->
            <article class="routeSummary">
                <div class="col2">
                    <div class="routeList">
                        <!-- Lists multiple routes with their respective details -->
                        <div class="col2">
                            <div class="col3">
                                <p class="routeTitle">Мои маршруты</p>
                                <p class="desc">
                                    Добавить
                                </p>
                            </div>
                            <div class="col4">
                                <p class="inputPlaceholderText">
                                    <!-- TODO -->
                                    Введите запрос
                                </p>
                                <button class="searchCategoryBtn">
                                    <!-- TODO -->
                                    <p class="selectCategoryText">Выбрать категорию поиска</p>
                                    <img class="searchIcon" src="generated/assets/MyRoadsFullsize/down_arrow.svg" alt="alt text"/>
                                </button>
                            </div>
                        </div>
                        @for (int i = 0; i < _routes.Count(); i += 2)
                        {
                            <article class="routeDetailsCard">
                                <div class="routeDetailsContent">
                                    <div class="col5">
                                        <div class="col6">
                                            <div class="block3" style="--src:url(../wwwroot/generated/assets/MyRoadsFullsize/gradient_background.png)">
                                                <div class="info3">img</div>
                                            </div>
                                            <div class="col7">
                                                <p class="info4">@_routes[i].Name</p>
                                                <div class="routePoints">
                                                    @foreach (var pinpoint in _routesPinpoints[_routes[i].Id])
                                                    {
                                                        <p class="pointOneText">@pinpoint.Name</p>
                                                        <div class="pointOneColor"></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col8">
                                            <img class="routeIconImageOne" src="generated/assets/MyRoadsFullsize/d7d141d69b8eb869ad1a7a46fd024a3f.svg" alt="alt text"/>
                                            <img class="routeIconImageTwo" src="generated/assets/MyRoadsFullsize/bookmark_icon.svg" alt="alt text"/>
                                        </div>
                                    </div>
                                </div>
                                @if (i != _routes.Length - 1)
                                {
                                    <div class="routeDetailsContent">
                                        <div class="col5">
                                            <div class="col6">
                                                <div class="block3" style="--src:url(../wwwroot/generated/assets/MyRoadsFullsize/gradient_background.png)">
                                                    <div class="info3">img</div>
                                                </div>
                                                <div class="col7">
                                                    <p class="info4">@_routes[i + 1].Name</p>
                                                    <div class="routePoints">
                                                        @foreach (var pinpoint in _routesPinpoints[_routes[i + 1].Id])
                                                        {
                                                        <p class="pointOneText">@pinpoint.Name</p>
                                                        <div class="pointOneColor"></div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col8">
                                                <img class="routeIconImageOne" src="generated/assets/MyRoadsFullsize/d7d141d69b8eb869ad1a7a46fd024a3f.svg" alt="alt text"/>
                                                <img class="routeIconImageTwo" src="generated/assets/MyRoadsFullsize/bookmark_icon.svg" alt="alt text"/>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </article>
                        }
                    </div>
                </div>
            </article>
        </section>
    </nav>
}
</body>
@code {

    

}