@page "/PinpointPage"
@using AutoMapper
@using MediatR
@inject IMediator Mediator
@inject IMapper Mapper

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="generated/css/common.css" />
    <link rel="stylesheet" type="text/css" href="generated/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="generated/css/SightsFullsize.css" />
</head>

<body class="flex-column">

<div class="sights-fullsize mainContentSection">
    <article class="featuredContent">
        <!-- featured content section -->
        <p class="mainSights">Достопримечательности</p>
        <div class="searchContainer">
            <div class="searchBox">
                <!-- search input box -->
                <p class="searchInput">Введите запрос</p>
            </div>
            <button class="addButton">
                <!-- TODO -->
                Найти
            </button>
        </div>
        @for (int i = 0; i < _pinpoints.Count(); i += 2)
        {
            <div class="cardColumn">
                <article class="interestPoint1">
                    <!-- interest point card -->
                    <figure class="interestImage">
                        <div class="imageContainer" style="--src:url(../wwwroot/generated/assets/SightsFullsize/gradient_background.png)">
                            <figcaption class="imageDescription">img</figcaption>
                        </div>
                        <div class="interestDetails">
                            <p class="interestTitle">@_pinpoints[i].Name</p>
                            <p class="interestDescription">@_pinpoints[i].Description</p>
                        </div>
                        <img class="iconImage" src="generated/assets/SightsFullsize/bookmark_icon.svg" alt="alt text"/>
                    </figure>
                </article>
                @if (i != _pinpoints.Count() - 1)
                {
                    <article class="interestPoint1">
                        <figure class="interestImage">
                            <div class="imageContainer" style="--src:url(../wwwroot/generated/assets/SightsFullsize/gradient_background.png)">
                                <figcaption class="imageDescription">img</figcaption>
                            </div>
                            <div class="interestDetails">
                                <p class="interestTitle">@_pinpoints[i + 1].Name</p>
                                <p class="interestDescription">@_pinpoints[i + 1].Description</p>
                            </div>
                            <img class="iconImage" src="generated/assets/SightsFullsize/bookmark_icon.svg" alt="alt text"/>
                        </figure>
                    </article>
                }
            </div>
        }
        </article>
    </div>
</body>

@code {

    

}