<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="@BaseUrl" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="TouristApp.Web.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=3ee77b6e-b7ee-4958-b7c6-0e86b9fafd99&lang=ru_RU" type="text/javascript"></script>
<script src="js/pinpointMapScript.js"></script>
<script src="js/routeMapScript.js"></script>
<script src="js/searchMapScript.js"></script>
<script src="js/geoLocationJsInterop.js"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; }
    private string BaseUrl => $"{HttpContext.Request.PathBase}/";
}
