@page "/AuthPage"
@using MediatR
@using Microsoft.AspNetCore.Components.Authorization
@using TouristApp.Web.Identity
@inject IMediator Mediator
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@inject TokenGenerator TokenGenerator

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body class="flex-column">

<section class="autorization-fullsize mainContentSection">
    <!-- Main content section containing navigation and login information -->
    <div class="authCol">
        @if (_isLoaded)
        {
            <p class="authHeading">Авторизация</p>

            <EditForm Model="_loginModel" FormName="Login" OnValidSubmit="Login">
                <div class="input-group mb-3">
                    <InputText class="form-control" id="categoryName" placeholder="Логин" type="text" @bind-Value="_loginModel.Login" required autocomplete="off"/>
                </div>
                <div class="input-group mb-3">
                    <InputText class="form-control" id="categoryName" placeholder="Пароль" type="text" @bind-Value="_loginModel.Password" required autocomplete="off"/>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">
                        Войти
                    </button>
                </div>
            </EditForm>
        }
    </div>
</section>

</body>

@code {

    

}