@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Components.Authorization
@using TouristApp.Web.Identity
@inject TokenGenerator TokenGenerator
@inject IMediator Mediator
@inject IMapper Mapper
@inject NavigationManager NavManager 
@inject AuthenticationStateProvider AuthStateProvider
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (_isLoaded)
{
    <EditForm Model="_loginModel" FormName="Login" OnValidSubmit="Login">
        <div class="input-group mb-3">
            <span class="input-group-text" id="login">Логин</span>
            <InputText class="form-control" id="categoryName" placeholder="Логин" type="text" @bind-Value="_loginModel.Login" required autocomplete="off"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="password">Пароль</span>
            <InputText class="form-control" id="categoryName" placeholder="Пароль" type="text" @bind-Value="_loginModel.Password" required autocomplete="off"/>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                Войти
            </button>
        </div>
    </EditForm>
}

@code { }