@page "/RouteSearch"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

<PageTitle></PageTitle>

<div class="container-xl my-md-4">
    <RouteSearchForm></RouteSearchForm>
</div>

@code {
}